.container
  - @listings.each do |listing|
    .row.listing
      %h3
        = listing.title
      %p.date
        = listing.created_at
        %span.category.label.label-info
          = listing.category.name
      .col-sm-4.col-md-2
        .thumbnail
          %img{src: listing.thumbnail}
      .col-sm-8.col-md-10
        %p
          = listing.description
        %p.price
          = "#{listing.price}€"
      %button.btn.btn-primary.pull-right{data: {do: "showContactModal", user: "#{current_user.try(:id)}", id: listing.id }}
        = t('contact')
      %button.btn.btn-primary.pull-right{data: {do: "showChatModal", user: "#{current_user.try(:id)}", id: listing.id }}
        Chat

= render partial: "modals/contact"
= render partial: "modals/chat"
